<%= render "layouts/messages" %>
<div class="row-fluid">
  <div class="span5 offset1">
    <%= simple_form_for(@profile, :html => {:class => 'form-vertical' }) do |f| %>
      <fieldset>
        <%= f.input :name %>
        <%= f.input :blurb, label: 'About', as: :text, input_html: { :rows => 5 } %>
        <%= f.input :twitter, wrapper: :append do %>
          <span class='add-on'>@</span>
          <%= f.input_field :twitter %>
        <% end %>
        <%= f.input :github %>
        <%= f.input :homepage, label: 'Website (including http:// or https://)' %>
        <%= f.input :email, input_html: { readonly: true } %>
        <br />
        <%= f.submit "Save", :class => "btn btn-primary" %>
        or
        <%= link_to "Cancel", root_url %>
      </fieldset>
    <% end %>
  </div>
</div>
