<span class="pull-left">
  <img src="<%= gravatar_for(profile.email) %>" class="img-circle" />
</span>

<div class="media-body">
  <h3 class="media-heading"><%= profile.name %></h4>
  <p><%= profile.blurb %></p>
  <ul class="inline">
    <li>
      <i class="icon-home"></i>
      <a href="<%= profile.homepage %>">Website</a>
    </li>
    <li>
      <i class="icon-twitter"></i>
      <a href="<%= twitter_url_for(profile.twitter) %>">Twitter</a>
    </li>
    <li>
      <i class="icon-github-alt"></i>
      <a href="<%= github_url_for(profile.github) %>">GitHub</a>
    </li>
    <li>
      <i class="icon-envelope-alt"></i>
      <%= mail_to(profile.email, "Email") %>
    </li>
  </ul>
</div>
