<div class="row well">
  <div class="span4">
      <h1><%= event.title %></h1>
      <p><i class="icon-time"></i><%= event_timestamp(event) %></p>
      <p>Venue:<p>
      <address>
        <%= address_helper(event) %>
      </address>

      <p>
        RSVP <%= link_to "here.", event.rsvp_url %>
      </p>

      <p>
        <%= kramdown(event.description) %>
      </p>
  </div>
  <div class="span7">
    <%= render 'events/event_map', :event => event %>
  </div>
</div>
