<div class="row well">
  <div class="span4">
      <h1>Monthly Talk</h1>
      <p><i class="icon-time"></i><%= event_timestamp(event) %></p>
      <p>Speaker: <%= event.speaker %></p>
      <p>Topic: <%= event.title %></p>
      <p>Venue:<p>

      <address>
        <%= address_helper(event.address) %>
      </address>

      <p>
      RSVP <%= link_to "here.", event.rsvp_url %>
      </p>

      <p>
       <%= simple_format(event.description) %>
      </p>
  </div>
  <div class="span7">
    <%= render 'event_map', :event => event %>
  </div>
</div>
