<div class="row-fluid">
  <div class="span12 well">
    <div class="row-fluid">
      <div class="span4">
        <h2>Monthly Talk</h2>
        <p><i class="icon-time"></i><%= event_timestamp(event) %></p>
        <h3><%= event.title %></h3>
        <p><strong>Speaker(s):</strong> <%= event.speaker %></p>
        <p><strong>Venue:</strong><p>
        <%= address_helper(event.event_addresses.first) %>
        <%= render 'events/rsvp_button', :event => event %>
      </div>

      <div class="span4">
        <%= render 'events/event_map', :event_address => event.event_addresses.first %>
      </div>
    </div>

    <hr />

    <div class="row-fluid">
      <div class="span8">
        <p>
          <%= kramdown(event.description) %>
        </p>
      </div>
    </div>

    <hr />

    <%= render 'events/rsvp_list', :event => event %>
  </div>
</div>
